@import '../../styles/config';
@import '../../styles/responsive';
.quiz{
  position: relative;
  width: 100%;
  height: 35rem;

  &-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quiz-image{
      background: url(../../Assets/person-holding-a-mirror-on-an-open-field-4412934.jpg) no-repeat center center/cover;
      width: 351px;
      height: 234px;
    }

    .quiz-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 351px;
      height: 234px;
      background-color: $quiz-color;

      h3{
        margin-top: 40px;
        font-weight: weight(bolder);
        font-family: 'Karla', sans-serif;
      }
      
      h2{
        margin: 25px auto;
         font-weight: weight(bolder);
      }

      #quizBtn{
        @include btn;

        &:hover{
          @include btnHover();
        }
      }
  }
}

}