@import "../../styles/config";

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  background-color: $accent-color2;
  height: 170rem;
  width: auto;
  overflow: hidden;
  .tab {
    display: none;
  }
  &-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 260px;
    justify-self: center;
    height: 380px;
    margin: 10px 0 10px;
    z-index: 2;
    overflow: visible;
    box-shadow: 0 9.8px 9.3px rgba(0, 0, 0, 0.08),
      0 65px 79px rgba(0, 0, 0, 0.052);
    @include transition-ease;

    &::after {
      left: 50%;
      @include borderLine(99.5%, 1.98px, 70px, 0, 0, 0);
      z-index: 1;
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 8.2px 4.8px rgba(0, 0, 0, 0.14),
        0 35.9px 18.5px rgba(0, 0, 0, 0.098), 0 122px 79px rgba(0, 0, 0, 0.081);
      @include transition-ease;
    }
  }

  &-text {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 1%;
    text-align: center;

    h1,
    h3,
    p,
    #aboutBtn {
      margin: 17px auto;
      align-self: center;
    }

    h1 {
      width: 280px;
    }

    h3 {
      width: 300px;
      font-family: "Karla", sans-serif;
      // font-weight: weight(bolder);
    }

    p {
      text-align: justify;
      width: 300px;
      max-width: 400px;
      padding: 5px 0;
      margin: 0;
    }

    #aboutBtn {
      @include btn;

      &:hover {
        @include btnHover;
      }
    }
  }
}

// Responsiveness

@include phone-md {
  .about {
    height: 157rem;
    &-image {
      width: 320px;
    }

    &-text {
      h1 {
        width: 95%;
      }

      h3 {
        width: 90%;
      }

      p {
        text-align: justify;
        width: 90%;
      }

      #aboutBtn {
        width: 300px;
        height: 50px;
      }
    }
  }
}

@include phone-xlg {
  .about {
    height: 148rem;
    g &-image {
      width: 380px;
      height: 420px;
    }
    #aboutBtn {
      width: 330px;
      height: 60px;
    }
  }
}

@include tab-sm {
  .about {
    display: block;
    grid-template-columns: none;
    align-items: initial;
    height: auto;

    &-image {
      display: none;

      &::after {
        left: 112.3%;
        @include borderLine(2%, 1.98px, 50px, 0, 0, 90deg);
      }
    }

    &-text {
      display: none;
    }
    .tab {
      padding: 2rem 3rem;
      display: block;
      img {
        float: left;
        margin: 10px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 260px;
        height: 380px;
      }
      div {
        display: inline;
        text-align: left;

        h1,
        h3,
        #aboutBtn {
          margin: 17px auto;
          align-self: center;
        }
        #aboutBtn {
          @include btn;
          width: 350px;
          height: 70px;

          &:hover {
            @include btnHover;
          }
        }
      }
    }
  }
}
