@import '../../styles/config';
@import '../../styles/responsive';

.testimonial{
  position: relative;
  width: 100%;
  height: 36rem;
  background-color: $body-color;
}

.arrows{
position: absolute;
display: flex;
justify-content: space-between;
width: 100%;
top: 70%;
z-index: 3;
font-size: 2.3rem;

  .fa-caret-left:hover{
  cursor: pointer;
  color: $accent-color1;
  @include transition-ease;
}
  .fa-caret-right:hover{
  cursor: pointer;
  color: $accent-color1;
  @include transition-ease;
}
}


.testimonial-content{
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  top: 15%;
  // padding: 30px auto;

  h2{
    margin: 0 0 40px 0;
    font-weight: weight(regular);
  }

  .testimonials{
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 100%;

    .testi1 h1, .testi2 h1, .testi3 h1 {
      margin: 0 0 40px 0;
    }

  }
}

.slide.current{
display: block;
}

.slide{
  display: none;
}

.testi1{

  .color-border1{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(170px, 17px, 64%, 0, $border-color1);
  }
}
.color-border2{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(194px, 17px, 64%, 0, $border-color2);
  }
}

.color-border3{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(199px, 17px, 64%, 0, $border-color3);
  }
}

}

.testi2{

  .color-border1{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(200px, 17px, 64%, 0, $border-color1);
  }
}
.color-border2{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(194px, 17px, 64%, -4px, $border-color2);
  }
}

.color-border3{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(160px, 17px, 64%, -4px, $border-color3);
  }
}

}

.testi3{

  .color-border1{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(210px, 15px, 64%, -6px, $border-color1);
  }
}
.color-border2{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(90px, 15px, 64%, -6.5px, $border-color2);
  }
}

.color-border3{
  position: relative;
  
  &::after{
    width: 100%;
    height: 100%;
    @include coloredBorders(187px, 15px, 64%, -6px, $border-color3);
  }
}

}
