@import "../../styles/config";

.contactCA {
  position: relative;
  width: 100%;
  height: 60rem;
  display: grid;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: "Karla", sans-serif;
    font-weight: weight(bolder);
  }

  #contact-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 100%;
    height: 100%;
    margin: 0 0;
    justify-self: center;
    overflow: hidden;

    .contact1,
    .contact2,
    .contact3 {
      h3 {
        margin: 15px 0;
        font-family: "Karla", sans-serif;
        font-weight: weight(bolder);
        justify-content: center;
        justify-self: center;
      }
      & > p {
        margin: 0 10px;
        justify-self: center;
      }
    }

    .contact1 {
      h1 {
        color: $accent-texticon2;
      }
    }

    .contact2 {
      h1 {
        color: $accent-texticon;
      }
    }

    .contact3 {
      h1 {
        color: $accent-color2;
      }
    }
  }

  .contactBtn-wrapper {
    padding: 10px;

    #contactBtn {
      @include btn;

      &:hover {
        @include btnHover();
      }
    }
  }

  // ABOUT
  &.aboutP {
    #C-aboutP {
      margin-top: 1rem;
    }
    #C-aboutPp {
      position: relative;
      margin: 0 0.9rem;
      top: -22%;
    }
  }
}

// Responsiveness

@include tab-sm {
  .contactCA {
    height: 28rem;

    h2 {
      // font-size: 3.5vw;
      width: 85%;
      justify-self: center;
    }

    #contact-text {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      align-self: center;

      .contact1,
      .contact2,
      .contact3 {
        h3 {
          font-size: var(--clamph4);
        }
        & > p {
          margin: 0 10px;
          font-size: 2vw;
        }
      }
    }

    .contactBtn-wrapper {
      position: relative;
      top: -20%;
      #contactBtn {
        font-size: 2.5vw;
        width: 200px;
        height: 50px;
      }
    }
  }
}
