@import "../../styles/config";

.intro {
  width: 100%;
  background-color: $body-color;

  &_text {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 5px auto 20px;
    text-align: center;

    h2 {
      line-height: 1.5;
      font-family: "Karla", sans-serif;
      padding: 0 10px;
    }

    p {
      padding: 0 10px;
      margin-top: -2.5rem;
    }
  }
}

@include tab-sm {
  .intro_text > p {
    margin-top: -0.8rem;
  }
}
