@import "../../styles/config";

.intro {
  width: 100%;
  background-color: $body-color;
  margin-bottom: 30px;

  &_text {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 5px auto 20px;
    text-align: center;

    p {
      padding: 10px;
    }
  }
}

@include tab-sm {
  .intro_text > p {
    margin-top: -0.8rem;
  }
}
