@import "../../styles/config";

#footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: $primary-color;
  color: $accent-color1;
  text-align: center;
  padding: 0 1rem;

  h4 {
    margin: 0 auto;
    font-size: 1rem;
    padding: 5px 0;

    a {
      color: $accent-color1;
      padding: 0 0.2rem;
      cursor: pointer;
    }
  }
}
