@import '../../styles/config';
@import '../../styles/responsive';

.header {
  position: sticky;
  display: flex;
  z-index: 4;
  padding: .1rem;
  width: 100%;
  // height: 4.8375rem;
  overflow: hidden;
  background-color: $accent-color1;
}

.menuBtn{
 position: absolute;
 z-index: 1;
 right: 1rem;
 top: 1rem;
 height: 40px;
 width: 28px;
 cursor: pointer;
 @include transition-ease;
//  overflow: auto;
//  background-color: $primary-color;


 #menuBtn_hamburger1{
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: $primary-color;
  font-weight: weight(bold);
  @include transition-ease;

  &.open{
    transform: rotate(720deg);
    background-color: transparent;
  }

  
 }

 
#menuBtn_hamburger2{
   position: absolute;
   top: 0;
   right: 0;
   width: 28px;
   height: 3px;
   z-index: 2;
   font-weight: weight(bold);
   background-color: $primary-color;
   @include transition-ease;

   &.open{
    transform: rotate(45deg) translate(5px, 8px);
    background-color: $accent-texticon2;

    
  }

 
  }


#menuBtn_hamburger3{
   position: absolute;
   top: 16.5px;
   width: 28px;
   height: 3px;
   z-index: 2;
   font-weight: weight(bold);
   background-color: $primary-color;
   @include transition-ease;

  &.open{
    transform: rotate(-45deg) translate(5px, -8px);
    background: $accent-texticon2;
  }

  }


}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 500px;
  opacity: 0.98;
  visibility: hidden;

  &.open{
    visibility: visible;
  }
}

.menu-nav{
 position: relative;
 display: flex;
 flex-flow: column wrap;
 align-items: center;
 justify-content: center;
 height: 100vh;
 overflow: hidden;
 padding-right: 1rem;
 background-color: $quiz-color;
 list-style-type: none;
 z-index: 5;
 transform: translateY(-100%);
 @include transition-ease;

 & .logo-link{
   display: none;
 }

 &.open{
   transform: translateY(0);
 }

&_item{
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  transform: translateX(100vw);
  @include transition-ease;

  &.open{
    transform: translateX(0);
  }

  .active{
    color: $quiz-color;
  }

  &:nth-child(1){
    display: none;
  }

 
}

&_link:hover{
  color: $menu-text;
}

}

@for $i from 1 through 5 {
.menu-nav_item:nth-child(#{$i}) {
 transition-delay: ($i * 0.1s) + 0.15s;
} 
}

// Menu Logo

.logo-link{
margin: 0 auto;

.logo{
background: url(../../Assets/logo1.png) no-repeat center center/cover;
width: 150px;
height: 150px;

&.large{
background: url(../../Assets/logo2.png) no-repeat center center/cover;
width: 100px;
height: 100px;

}
}
// &.large{
//   top: -20%;
// }
}

// .logo-text{
//   // color: $accent-texticon;
// }







// NAV SCSS
// .logo-link{
// // margin: 0 auto;
// padding: .25em;
// font-size: 1.2em;
// font-weight: bold;

// .logo{
// background: url(../../Assets/logo1.png) no-repeat center center/cover;
// width: 50px;
// height: 50px;
//  }
// }

// #navbar{
//     display: grid;
//     align-items: center;
//     grid-template-columns: auto 1fr;

//     .lg-nav-menu{
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;

//     &>#lg-nav {
//     display: flex;
//    }

//     #toggle-on{
//     display: none;
//    }
//   }
// }

// ul{
//     list-style: none;
// }


// .lg-nav-menu>#lg-nav>.lg-nav-menu-item>.lg-nav-menu-item-link, #sm-nav-menu>#sm-nav>.sm-nav-menu-item>.sm-nav-menu-item-link{
//     display: block;
//     text-decoration: none;
//     padding: .5em 1.25em;
//     font-size: 1.2em;
//     font-weight: bold;
// }

// #sm-nav-menu{
//     display: none;
// }

// @media only screen and (max-width: 600px){
//     #navbar .lg-nav-menu #toggle-on,#toggle-off{
//         padding: .25em;
//         font-size: x-large;
//         cursor: pointer;
//         font-weight: bolder;
//         display: block;
//     }

//     #navbar{
//         .lg-nav-menu #lg-nav{
//             display: none;
//       }
//     }

//     #sm-nav-menu{
//         width: 250px;
//         transition: transform 1s ease;
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         background: #fef;
//         top: 0;
//         height: 100vh;
//         right: 0;
//         z-index: 10;
//         // overflow: hidden;
//     }
//     #sm-nav-menu #sm-nav{
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//     }

//     #toggle-off{
//         text-align: end;
//         background: #fef;

//         &:hover{
//         color: teal;
//     }
//     }
    
//     #sm-nav-menu.hide-menu{
//         transform: translate(300px);
        
//     }
// }

