@import './styles/config';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background: $body-color;
  color: $primary-color;
  font-family: "Karla", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.01rem;
  overflow-x: hidden;
}


a{
  color: $primary-color;
  text-decoration: none;

&:hover{
    color: navy;
 }
}


h1,
h2, h3 {
  font-weight: weight(medium);
  line-height: 1.2;
  letter-spacing: 0rem;
  font-family: "Italiana", serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}


h4,
p {
  font-weight: weight(regular);
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-size: 0.94rem;
}

a {
  color: $primary-color;
  text-decoration: none;
}


