*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #100;
    /* background: #eff; */
    overflow-x: hidden;
}

a{
    color: #010;
    /* background: #fef; */
    text-decoration: none;
}
a:hover{
    color: navy;
}