@import '../../styles/config';

.banner-wrapper{
 height: 47.5rem;
 overflow: hidden;
 padding: 0.5rem 2rem;
 background: linear-gradient(to bottom, $accent-color1 0%, $accent-color1 35%, $body-color 35%, $body-color 100%);

 &.aboutP{
  height: 18rem;
  background: $quiz-color;
 }
 &.servicesP{
  height: 263vmax;
  background: $quiz-color;background: linear-gradient(to bottom, $accent-color1 0%, $accent-color1 15%, $body-color 15%, $body-color 100%);
 }
 }